html, body {
    width: 100%;
    height: 100%;
}
#droptext {
    background: #424242;
    border: 2px dashed #fff;
}
#canvas-container {
    position: relative;
    height: max-content;
}
#svg, #frame {
    position: absolute;
    width: 100%;
    margin-bottom: 50px;
}
#droptext {
    height: 480px;
    color: #fff;
}